# Maven
target/
*.releaseBackup

# Log files
*.log
logs/

# IDEs and editors
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc
.env
.streamlit/secrets.toml

